body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

nav {
  max-width: 1400px;
  height: 12vh;  
}

nav ul {
  gap: 30px;
  font-size: 20px;
}

ul a {
  text-decoration: none;
  color: rgb(65, 65, 65);
}

.home {
  color: rgb(210, 138, 31);
}

ul a:hover {
  color: rgb(210, 138, 31);
}

li {
  list-style: none;
  font-weight: 600;
  letter-spacing: 1px;
  color: orange;
}

.logo {
  text-decoration: none;
  font-weight: bolder;
  font-size: 30px;
}

span {
  color: orange;
  font-size: 38px;
}

div a {
  color:  rgb(65, 65, 65);
  margin-left: 20px;
}

/* .search-div {
  border-color: rgb(210, 138, 31);
}  */

input[type='text'] {
  background-color: transparent;
}

input:focus {
  outline: none;
}

/* button {
  background-color: orange;
  height: 35px;
} */

nav .hamburger-menu {
  color: rgb(65, 65, 65);
  /* background: none;
  border: none;
  cursor: pointer; */
  padding: 0;
  font-weight: bolder;
  font-size: 30px;
  display: none;
}

@media (max-width:768px) {
  nav .hamburger-menu {
    display: block;
  }

  nav ul {
    display: none;
    
  }
}